<div class="container">
  <h3 ng-hide="checkUser()">Sign Up</h3>
  <h3 ng-show="checkUser()">Update Password</h3>
  <div class='well'>
    <form class="form" name="NewUserForm" novalidate>
      <div class='form-group'>
        <label for='email' ng-hide="checkUser()">E-mail Address</label>
        <input class='form-control' name='userEmail' type='email' ng-change="changeValue()" ng-model='newUser.email' ng-hide="checkUser()" required/>
        <p class="text-danger" ng-show="NewUserForm.userEmail.$invalid && NewUserForm.userEmail.$touched">Please enter a valid email address</p>
        <p class="text-danger" ng-show="emailTaken === true">Email address is already registered</p>
      </div>
      <div class='form-group'>
        <label for='password'>Password</label>
        <input class='form-control' name='email' type='password' ng-model='newUser.password' required/>
      </div>
    </form>
    <button class='btn btn-danger' ui-sref="home">Cancel</button>
    <button class='btn btn-success' ng-disabled="NewUserForm.$invalid" ng-click='createUser()' ng-hide="checkUser()">Create Account</button>
    <a href="/auth/github" class="btn btn-social btn-github" style="margin-left:10px;">
      <span class="fa fa-github"></span> Sign in with Github
    </a>
  </div>
</div>