<div class="container">

      <div id="workarea"></div>
      <div id="control_panel" class="control_panel" ng-class="{control_panel_show: cplopen}" ng-mouseenter="cplopen = true">
      <div id="control_panel_minbut" ng-show="cplopen" class="control_panel_minbut" ng-click="cplopen = false"><span class="glyphicon glyphicon-minus"></span>
      </div>
      <div id="control_paneleditbut" ng-show="!cplopen" class="control_panel_minbut" ng-click="cplopen = true"><span class="glyphicon glyphicon-plus"></span>
      </div>

       <div id="cpl_move">
         <table>
         <tr><td></td><td class="arrow"><span class="glyphicon glyphicon-triangle-top"></td><td></td></tr>
         <tr><td class="arrow"><span class="glyphicon glyphicon-triangle-left"></td><td></td><td class="arrow"> <span class="glyphicon glyphicon-triangle-right"></td></tr>
         <tr><td></td><td class="arrow"><span class="glyphicon glyphicon-triangle-bottom"></td><td></td></tr>
         </table>
       </div>
      <ai-editor id="control_panel"></ai-editor>
      </div>
</div>