<section id="home">

  <div id="homepage" class="container ">



    <div class="row">


      <div id="project-list" class="col col-sm-6" ng-show="isLoggedIn()">
        <h3>{{user.email || user.github.username}}'s Projects<h3>


              <ul>
              <li ng-repeat="project in projects">
                <i class="fa fa-file-code-o" aria-hidden="true"></i><a ui-sref="project({id:project._id})">{{project.name}}</a>
              </li>
              </ul>
          </div>

      <div class="col col-sm-6" ng-show="isLoggedIn()">
          <h3 id="dfHeader">Your data files</h3>
          <div id="modalDiv">
            <button type="button" class="btn btn-sm" ng-class="data.seed ? 'btn-success btn-md' : 'btn-info btn-md' " id="modalBtn" ng-repeat="data in userData" ng-click='open(data)'>{{data.fileName}}</button>
          </div>
        </div>


    </div> <!-- end row -->

  </div>



<div ng-hide="isLoggedIn()" id="splashscreen">
      <div class="container-fluid">
        <div class="row" style="background:url('/images/sea-nature-flying-water.png')">
        <div class="container" id="homepage-text-wrapper">
          <div class="col-xs-12" style="padding: 0px;"><h1>Anuglar Elements</h1></div>
          <div class="col-xs-12"><h3>Build a responsive single page ANGULAR JS app in minutes!</h3></div>
          <div class="col-xs-12"><img class="pull-right" ng-src="/images/laptop.png" style="margin-bottom: 20px;position: relative;left: 100px;"></div>
        </div>
      </div>

      <div class="row" style="height:400px;">
        <div class="container">
          <div class="col-xs-4"><h1>Select</h1><p>Pick page Elements to include inyour app with a click</p></div>
          <div class="col-xs-4"><h1>Customise</h1><p>Customize an Elements Look, Bahavior and Data</p></div>
          <div class="col-xs-4"><h1>Share</h1><p>1 Click to share you app with the world </p></div>
        </div>
      </div>
      </div>

  <div id="splash-btn-wrapper">

  </div>

</div>























  <div  ng-show="isLoggedIn()" class="container">
    <!-- <div id="welcome" ng-hide="isLoggedIn()" class="row" id="welcome">
        <h3>Welcome to The App Builder Thing!</h3>
        <p> You can use our site to generate a single page data site. It also makes pizza. To get started, click create a new project.

        if you already have a project, please log in

    </div> -->
    <div class="col col-md-4">
        <h3>Create a New Project</h3>
<!--         <img class="float-fish" src="images/Fish-fish-sm.png" width=50% height=50% /> -->

              <form role="form" name="projectCreate" ng-submit="addProject()">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" ng-model="projectName">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
              </form>

    </div>
  </div>

</section>

