<section id="home">

  <div class="container">

    <div class="row">

      <div ng-show="isLoggedIn()">
        <h3>{{user.email || user.github.username}}'s Projects<h3>
        {{hello}}
          <div ng-repeat="project in projects" class="col-sm-3">
            <div class="tile">
              <div class="tile-title">
                <a ui-sref="project({id:project._id})">{{project.name || "temp name"}}</a>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div ng-hide="isLoggedIn()" class="row" id="welcome">
        <h3>Welcome to The App Builder Thing!</h3>
        <p> You can use our site to generate a single page data site. It also makes pizza. To get started, click create a new project.

        if you already have a project, please log in

    </div>
    <div class="row">
        <h3>Create a New Project</h3>
        <div class="col-sm-4">

              <form role="form" name="projectCreate" ng-submit="addProject()">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" ng-model="projectName">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
              </form>

        </div>
    </div>
  </div>


</section>

