* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#githubbtn {
  background: black;
}

#main {
  /*padding-top: 60px;*/
  margin: 0 auto;
}

#splashscreen {
  /*margin-top:-60px;*/
  img {
    postion:fixed;
    left:0px;
    top:0px;
  }
}

#homepage-text-wrapper {
  color:white;

  h1 {
    font-size: 7em;
    /*font-family: 'Inconsolata' ;*/
    font-family: 'Poiret One', cursive;
  }
  h3 {
    /*font-family: monospace;*/
    /*font-family: 'Inconsolata' ;*/
    font-family: 'Poiret One', cursive;
  }
  text-align: left;
  margin-top:0px;
  position: fixed;
  left:180px;
  top:150px;

}



#splash-btn-wrapper {
  color:white;
  font-family: 'Poiret One', cursive;

}

#splash-btn {
  border-radius: 10px;
  i {
    margin-left:5px;
  }
  border-color: white;
  background-color: transparent;
  border-radius: 100%;
  border-color: white;
  background-color: transparent;
  height: 200px;
  width: 200px;
  border-width: 4px;
  font-size: x-large;
}


.dcard-img-wrapper {
  /*height:200px;
  width:200px;*/
   img {
    border: 1px rgba(91, 192, 222, 0.62) solid;
    border-radius: 5px;
   }
};
.d_store {
  color:black;
}
.directive_card_container {
  height: 350px;
  width:300px;
  overflow: scroll;
}


.ds-browser-demo {
  border:2px solid #dddddd;
  border-radius: 5px;
}

.data-view {
  max-height: 200px;
  overflow: scroll;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';

@import 'login/main';
@import 'projects/main';
