* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.cardtext {
  min-width:200px;
}
.directive_card_body {

  img {
    max-height: 200px;
    max-width: 200px;
  }
  p {
    font-size: 1em;
  }
}

.dcard-img-wrapper {
  /*height:200px;
  width:200px;*/
   img {
    border: 1px rgba(91, 192, 222, 0.62) solid;
    border-radius: 5px;
   }
};

.directive_card_container {
  height: 350px;
  width:300px;
  overflow: scroll;
}

.ds-browser-demo {
  border:2px solid #dddddd;
  border-radius: 5px;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'projects/main';
